<div class="container">
  </br>
  
  <nav class="navbar navbar-default main_nav">
    <div class="container-fluid">
      <ul class="nav nav-tabs text_nav">
        <li><h4><%= current_vendor.name %></h4></li>
        

          <% if vendor_signed_in? %>
            <li class="pull-right text_link"><h4><%= link_to "Cart", root_path %> | <%= link_to "Profile", edit_vendor_registration_path %> | <%= link_to "Sign Out", destroy_vendor_session_path, method: :delete %></h4></li>
          <% end %>

        
      </ul>
    </div>
  </nav>
  
  <h1>Items</h1>

  </br>

  <%= link_to "New item", new_item_path, class: 'btn btn-success' %> | <%= link_to "Switch to all Vendors", pages_vendor_path, class: 'btn btn-success' %>
   
  <div class="row">
    <div class="col-md-12">
      
      <% @items.each do |item| %>

        <div class="media">
          <div class="media-body"> 

            <div class="col-md-2">
              <%= image_tag item.image.url(:thumb) %>
            </div>
           

            <h4 class="media-heading col-md-2">
              <%= item.title %>
            </h4>


            <small class="col-md-2">
              <%= item.description %>
            </small>



            <small class="col-md-2 center">
              <%= item.price %>
            </small>

            <%= link_to "Add to cart", order_items_path(item_id: item), class: 'btn btn-success' %> 

          </div>
        </div>


        </br>
        
      <% end %>

    </div>
  </div>
</div>
