  
  <h1>Items</h1>

  </br>

  <%= link_to "Switch to all Vendors", pages_vendor_path, class: 'btn btn-success' %>
  <% @items.each do |item| %> 
  <div class="row">
    <div class="col-md-12">
        <div class="media">
          <div class="media-body"> 

            <div class="col-md-2">
              <%= image_tag item.image.url(:thumb) %>
            </div>
           

            <h4 class="media-heading col-md-2">
              <%= item.title %>
            </h4>


            <small class="col-md-2">
              <%= item.description %>
            </small>



            <small class="col-md-2 center">
              <%= number_to_currency(item.price) %>
            </small>
 
            <div class="col-md-2 center">
              
              <%= form_tag(controller: 'line_items', action: 'create', item_id: item) do %>
                  
                  <input type="text" id="quantity" name="quantity" class="col-md-4">
                  <%= hidden_field_tag :item_id, value: item.id %>
                  <%= submit_tag "Add to cart", class: 'btn btn-success' %> 
              <% end %>
            </div>
              
            </div>
            
          </div>
        </div>
        </br>
      </div>
<% end %>