  
  <h1>Items</h1>

  </br>

  <%= link_to "Switch to all Vendors", pages_vendor_path, class: 'btn btn-success' %>
   
  <div class="row">
    <div class="col-md-12">
      
      <% @items.each do |item| %>

        <div class="media">
          <div class="media-body"> 

            <div class="col-md-2">
              <%= image_tag item.image.url(:thumb) %>
            </div>
           

            <h4 class="media-heading col-md-2">
              <%= item.title %>
            </h4>


            <small class="col-md-2">
              <%= item.description %>
            </small>



            <small class="col-md-2 center">
              <%= number_to_currency(item.price) %>
            </small>
 
            <div class="col-md-2 center">
              <%= form_for(@line_item) do |f| %>
  
                  <%= f.number_field :quantity, value: 1, min: '1', style: 'float: left; width: 25%; display: block' %>
                  <%= f.hidden_field :item_id, value: item.id %>
                  <%= f.submit "Add to cart", class: 'btn btn-success' %> 

              <% end %>
              
              
            </div>
            
          </div>
        </div>


        </br>
        
      <% end %>

    </div>
  </div>
