<p id="notice"><%= notice %></p>


  <strong>Order:</strong>
    
    <div>
      <%= @order.user.name %>
    </div>

    <div>
      <%= @order.user.address %> | <%= @order.user.state %> | <%= @order.user.zipcode %>
    </div>

    <div>
      <%= @order.user.phone_number %> | <%= @order.user.fax_number %>
    </div>

    </br>

    <table>
      <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %> &times; </td>
        <td><%= item.item.title %></td>
        <td><%= number_to_currency(item.total_price) %></td>
      </tr>
      <% end %>

      <tr>
        <td>Total</td>
        <td><%= number_to_currency(@order.total_price) %></td>
      </tr>
    </table>