<p id="notice"><%= notice %></p>


  <strong>Order:</strong>
    
    <div>
      <%= @order.vendor.name %>
    </div>

    <div>
      <%= @order.vendor.address %> | <%= @order.vendor.state %> | <%= @order.vendor.zipcode %>
    </div>

    <div>
      <%= @order.vendor.phone_number %> | <%= @order.vendor.fax_number %>
    </div>

    </br>

    <table>
      <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %> &times; </td>
        <td><%= item.item.title %></td>
        <td><%= number_to_currency(item.total_price) %></td>
      </tr>
      <% end %>

      <tr>
        <td>Total</td>
        <td><%= number_to_currency(@order.total_price) %></td>
      </tr>
    </table>