<% if user_signed_in? %>
    <nav class="navbar navbar-default main_nav">
      <div class="container-fluid">
        <ul class="nav nav-tabs text_nav">
          <li><h4><%= current_user.name %></h4></li>
            
              <li class="pull-right text_link"><h4><%= link_to "Cart", cart_path(@cart) %> | <%= link_to "Your orders", user_orders_path(current_user) %> | <%= link_to "Profile", edit_user_registration_path %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></h4></li>
        </ul>
      </div>
    </nav>
  <% end %>

  <% if vendor_signed_in? %>
    <nav class="navbar navbar-default main_nav">
      <div class="container-fluid">
        <ul class="nav nav-tabs text_nav">
          <li><h4><%= current_vendor.name %></h4></li>
            
              <li class="pull-right text_link"><h4><%= link_to "Your Orders", your_orders_all_orders_path %> | <%= link_to "Profile", edit_vendor_registration_path %> | <%= link_to "Sign Out", destroy_vendor_session_path, method: :delete %></h4></li>
        </ul>
      </div>
    </nav>
  <% end %>
