<div class="container">
  </br>
  
  <nav class="navbar navbar-default main_nav">
    <div class="container-fluid">
      <ul class="nav nav-tabs text_nav">
        <li><h3><%= link_to "Home", root_path %></h3></li>
      </ul>
    </div>
  </nav>

  <h1>Items</h1>

  </br>

  <%= link_to "New item", new_item_path, class: 'btn btn-success' %>
   
  <div class="row">
    <div class="col-md-12">
      
      <% @items.each do |item| %>
        <div class="media">
          <div class="media-body">

            <h4 class="media-heading col-md-3">
              <%= item.title %>
            </h4>


            <small class="col-md-3">
              <%= item.description %>
            </small>



            <small class="col-md-3 center">
              <%= item.price %>
            </small>

          </div>
        </div>

        </br>
        
      <% end %>

    </div>
  </div>
</div>